absl-py
alembic
astunparse
attrs
cachetools
certifi
cffi
charset-normalizer
colorama
colorlog
contourpy
cycler
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna
importlib-metadata
importlib-resources
jax
jaxlib
joblib
keras
kiwisolver
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
mediapipe
ml-dtypes
namex
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
optree
optuna
packaging
pandas
protobuf
pyasn1
pyasn1-modules
pycparser
pygments
pyparsing
python-dateutil
pytz
pyyaml
requests
requests-oauthlib
rich
rsa
scikeras
scikit-learn
scipy
seaborn
six
sounddevice
sqlalchemy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tqdm
typing-extensions
urllib3
werkzeug
wrapt
zipp
